@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-bg: 27 29 32;
    --primary-foreground: 38 131 243;
    --dashboard-bg: 35 38 43;
    --task-stage-bg: 43 47 54;
    --task-item-bg: 27 29 32;
    --border: 58 63 68;
    --surface: 245 247 249;
    --success-button: 5 150 105;
    --task-stage-warning: 245 158 11;
    --task-stage-slate: 161 161 170;
    --task-priority-urgent: 248 113 113;
  }
}

@layer components {
  .auth-btn {
    @apply font-noto-sans mt-2 rounded-lg bg-primary-foreground py-2.5 text-base font-medium text-gray-50 transition-colors hover:bg-primary-foreground/70
  }

  .auth_parent {
    @apply mx-2 flex w-fit flex-col items-center justify-center gap-3 rounded-xl bg-surface-primary p-10 shadow-xl md:mx-0 md:gap-7;
  }

  .button {
    @apply rounded-md bg-success-button px-2.5 py-1 font-inter font-semibold text-white transition-colors hover:bg-success-button/80;
  }



  .edge-bottom {
    @apply mt-2 border-2 border-b border-primary-foreground;
  }

  .edge-top {
    @apply mt-2 border-2 border-t border-primary-foreground;
  }

  .error {
    @apply text-xs font-semibold text-rose-500;
  }

  .input {
    @apply w-full rounded-md bg-transparent p-2 font-noto-sans font-normal text-gray-900 ring-1 ring-slate-300 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-slate-500;
  }

  .label {
    @apply font-noto-sans leading-6 text-sm font-medium after:ml-0.5 after:text-rose-500 after:content-["*"];
  }

  .sub-title {
    @apply font-noto-sans text-base font-medium tracking-wide text-slate-600
  }

  .title {
    @apply font-catamaran text-4xl font-semibold text-primary-foreground leading-10;
  }

  .text-btn {
    @apply font-noto-sans mt-2 block text-center text-base font-semibold tracking-wide text-primary-foreground underline underline-offset-4 transition-colors hover:text-primary-foreground/70
  }
}

.light-bg {
  background: linear-gradient(180deg, #f1f8ff 38%, #b4d6ff 100%);
}

.dashboard-content-height {
  height: calc(100vh - theme(spacing.44));
}

/* loader start */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: rgb(var(--primary-foreground));
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* loader end */