@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark-bg: 27 29 32;
    --primary-foreground: 38 131 243;
    --dashboard-bg: 35 38 43;
    --task-stage-bg: 43 47 54;
    --task-item-bg: 27 29 32;
    --border: 58 63 68;
    --surface: 245 247 249;
    --success-button: 5 150 105;
    --task-stage-warning: 245 158 11;
    --task-stage-slate: 161 161 170;
    --task-priority-urgent: 248 113 113;
    --bg-red: 220 38 38;
  }
}

@layer components {
  .auth-btn {
    @apply mt-2 rounded-lg bg-primary-foreground py-2.5 font-noto-sans text-base font-medium text-gray-50 transition-colors hover:bg-primary-foreground/70;
  }

  .auth_parent {
    @apply mx-2 flex w-fit flex-col items-center justify-center gap-3 rounded-xl bg-surface-primary p-5 shadow-xl md:mx-0 md:gap-7 md:p-10;
  }

  .button {
    @apply rounded-md bg-success-button px-2.5 py-1 font-inter font-semibold text-white transition-colors hover:bg-success-button/80;
  }

  .dropdown {
    @apply relative;
  }

  .dropdown-link {
    @apply flex w-full items-center gap-2 px-4 py-2 text-slate-800 transition-colors hover:bg-slate-300;
  }

  .edge-bottom {
    @apply mt-2 border-2 border-b border-primary-foreground;
  }

  .edge-top {
    @apply mt-2 border-2 border-t border-primary-foreground;
  }

  .error {
    @apply text-xs font-semibold text-rose-500;
  }

  .input {
    @apply w-full rounded-md bg-transparent font-noto-sans font-normal ring-1 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-border;
  }

  .label {
    @apply font-noto-sans text-sm font-medium leading-6;
  }

  .sub-title {
    @apply font-noto-sans text-base font-medium tracking-wide text-slate-600;
  }

  .text-muted {
    @apply text-slate-400;
  }

  .title {
    @apply font-catamaran text-4xl font-semibold leading-10 text-primary-foreground;
  }

  .text-btn {
    @apply mt-2 block text-center font-noto-sans text-base font-semibold tracking-wide text-primary-foreground underline underline-offset-4 transition-colors hover:text-primary-foreground/70;
  }
}

/* dropdown menu */

.dropdown-menu {
  position: absolute;
  right: 0.3rem;
  top: calc(100% + 0.3rem);
  background-color: #f1f5f9;
  /*slate-100*/
  display: flex;
  flex-direction: column;
  min-width: 12rem;
  border-radius: 0.3rem;
  overflow: hidden;

  transform: translateY(-10px);

  opacity: 0.2;
  visibility: hidden;
  /* pointer-events: none; */

  transition:
    opacity 150ms ease-in-out,
    transform 150ms ease-in-out,
    visibility 150ms ease-in-out;
}

.dropdown>[data-dropdown-btn]:focus+.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* dropdown menu */

.light-bg {
  background: linear-gradient(180deg, #f1f8ff 38%, #b4d6ff 100%);
}

.dashboard-content-height {
  height: calc(100vh - theme(spacing.44));
}

/* loader start */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: rgb(var(--primary-foreground));
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {

  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }

  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }

  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }

  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }

  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }

  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }

  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }

  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* loader end */